<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="{{ site.information }}" />
  <meta name="author" content="{{ site.organizers | markdownify | strip_html }}" />

  <meta property="og:title" content="{{ site.shorttitle }}" />
  <meta property="og:description" content="{{ site.information | markdownify | strip_html }}" />
  <meta property="og:image" content="{{ site.baseurl }}/assets/preview.jpg" />
  <meta property="og:url" content="{{ site.url }}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="" />
  <meta name="twitter:title" content="{{ site.shorttitle }}" />
  <meta name="twitter:description" content="{{ site.information | markdownify | strip_html }}" />
  <meta name="twitter:image" content="{{ site.baseurl }}/assets/preview.jpg" />

  <link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" />
  <link rel="shortcut icon" href="/assets/images/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="TPM 25" />
  <link rel="manifest" href="/assets/images/site.webmanifest" />

  <title>{{ site.title }}</title>

  <!-- Disable automatic phone number detection -->
  <meta name="format-detection" content="telephone=no" />

  <!-- Bootstrap core CSS -->
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" />

  <!-- Icons -->
  <link href="{{ site.baseurl }}/assets/css/fontawesome/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom CSS -->
  <link href="{{ site.baseurl }}/assets/css/styles.css" rel="stylesheet" />
</head>
